// color palettes
$green: #005A61;
$green-hover: rgba(0, 90, 97, 0.9);
$yellow: #F8F0E3;
$pink: #F9C4D4;

// font-faces
// lilita
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
$lilita: 'Lilita One', cursive;
// open sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
$opensans: 'Open Sans', sans-serif;;