@import 'variables';
@import 'normalize';
@import 'header';

.keunggulan {
    width: 100%;
    min-height: 100vh;
    padding: 4rem 3rem;
    background-color: $yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // background-color: red;

        h1 {
            text-align: center;
            font-family: $lilita;
            font-size: 2rem;
            color: $green;
            margin-top: 2rem;
            margin-bottom: 2.5rem;

            @media (min-width: 43em) {
                font-size: 2.5rem;
                margin-bottom: 4rem;
            }
        }

        &-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            // background-color: salmon;

            @media (min-width: 43em) {
                flex-direction: row;
            }

            &-content {
                // background-color: orange;
                max-width: 22rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 2.5rem 0;

                @media (min-width: 43em) {
                    margin: 4rem 2rem;
                }
    
                img {
                    width: 7rem;
                    margin-bottom: 2rem;
                }
    
                h2 {
                    text-align: center;
                    font-size: 1.25rem;
                    margin-bottom: 1rem;
                    font-weight: 700;
                    color: $green;
                }
    
                p {
                    font-size: 1rem;
                    text-align: center;
                    line-height: 1.7;
                    color: $green;
                }
            }
        }

    }

}