@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.hero {
  width: 100%;
  min-height: 100vh;
  padding: 4rem 3rem;
  background-color: #005A61;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__container .logo {
  width: 5rem;
}

@media (min-width: 43em) {
  .hero__container .logo {
    width: 7rem;
    margin-bottom: 3rem;
  }
}

.hero__container-content {
  width: 100%;
  height: 100%;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 43em) {
  .hero__container-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.hero__container-content .illustration {
  max-width: 18rem;
  -webkit-animation: illustration 4s infinite;
          animation: illustration 4s infinite;
}

@media (min-width: 43em) {
  .hero__container-content .illustration {
    max-width: 23rem;
  }
}

@-webkit-keyframes illustration {
  0% {
    -webkit-transform: rotateZ(3deg) scale(0.9);
            transform: rotateZ(3deg) scale(0.9);
  }
  50% {
    -webkit-transform: rotateZ(-10deg) scale(1.1);
            transform: rotateZ(-10deg) scale(1.1);
  }
  100% {
    -webkit-transform: rotateZ(3deg) scale(0.9);
            transform: rotateZ(3deg) scale(0.9);
  }
}

@keyframes illustration {
  0% {
    -webkit-transform: rotateZ(3deg) scale(0.9);
            transform: rotateZ(3deg) scale(0.9);
  }
  50% {
    -webkit-transform: rotateZ(-10deg) scale(1.1);
            transform: rotateZ(-10deg) scale(1.1);
  }
  100% {
    -webkit-transform: rotateZ(3deg) scale(0.9);
            transform: rotateZ(3deg) scale(0.9);
  }
}

.hero__container-content-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 43em) {
  .hero__container-content-desc {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: -1.5rem;
    margin-right: 13vw;
  }
}

.hero__container-content-desc h1 {
  text-align: center;
  font-family: "Lilita One", cursive;
  font-size: 3rem;
  color: #F8F0E3;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media (min-width: 43em) {
  .hero__container-content-desc h1 {
    text-align: left;
  }
}

.hero__container-content-desc button {
  outline: none;
  border: none;
  background-color: #F9C4D4;
  color: #005A61;
  width: 10rem;
  height: 3rem;
  border-radius: 0.75rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 570;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hero__container-content-desc button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.keunggulan {
  width: 100%;
  min-height: 100vh;
  padding: 4rem 2rem;
  background-color: #F8F0E3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 43em) {
  .keunggulan {
    padding: 4rem 3rem;
  }
}

.keunggulan__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.keunggulan__container h1 {
  text-align: center;
  font-family: "Lilita One", cursive;
  font-size: 2rem;
  color: #005A61;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

@media (min-width: 43em) {
  .keunggulan__container h1 {
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }
}

.keunggulan__container-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 43em) {
  .keunggulan__container-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.keunggulan__container-wrapper-content {
  max-width: 23rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.5rem 0;
}

@media (min-width: 43em) {
  .keunggulan__container-wrapper-content {
    margin: 4rem 2rem;
  }
}

.keunggulan__container-wrapper-content img {
  width: 7rem;
  margin-bottom: 2rem;
}

.keunggulan__container-wrapper-content h2 {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #005A61;
}

.keunggulan__container-wrapper-content p {
  font-size: 1rem;
  text-align: center;
  line-height: 1.7;
  color: #005A61;
}

.footer {
  width: 100%;
  min-height: 20vh;
  background-color: #005A61;
}

.footer__container {
  padding: 3rem 2rem 1.5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__container p {
  font-size: 0.85rem;
  line-height: 1.7;
  color: #F8F0E3;
  text-align: center;
}

.footer__container p a {
  color: #F8F0E3;
  text-decoration: none;
  font-weight: bold;
}

.footer__container p a:visited {
  color: #F8F0E3;
  text-decoration: none;
}

.footer__container img {
  margin-top: 1rem;
  width: 3rem;
}
/*# sourceMappingURL=styles.css.map */